<meta name="google-site-verification" content="6hBdmzOr8dNqFnra-LeraP8ZrkIvcmDl_4uePUs1IYY" />

<!-- iubenda Cookie Solution -->
<script type="text/javascript">
var _iub = _iub || [];
_iub.csConfiguration = {
  "siteId": 4487552,
  "cookiePolicyId": 88782172,
  "lang": "{{ if eq .Site.Language.Lang "en" }}en{{ else }}it{{ end }}",
  "storage": { "useSiteId": true },
  "cookiePolicyUrl": "{{ if eq .Site.Language.Lang "en" }}/en/cookie-policy/{{ else }}/cookie-policy/{{ end }}",
  "banner": {
    "acceptButtonDisplay": true,
    "closeButtonRejects": true,
    "customizeButtonDisplay": true,
    "explicitWithdrawal": true,
    "listPurposes": true,
    "position": "float-bottom-center",
    "rejectButtonDisplay": true,
    "showTitle": false
  }
};
</script>
<script type="text/javascript" src="https://cs.iubenda.com/autoblocking/4487552.js"></script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
